
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
#cent {
  position:absolute;
  left:50%;
  margin-left:-100px; 
}
#createGroup{

}
.chatLine{
    width : 180px;
}
.cont{
    padding-top : 50px;
}
#game {
    display: block;
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    color: black;
}
.win{
    background-color : #94B84C;
}
.lose{
    background-color : #C55151
}
#imgChampion{

    border-radius: 50%;
    width: 80px;
}
#imgChampionTable{
        border-radius: 50%;
    width: 20px;
}
a{
    color : black;
}
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 9, 2016, 12:21:16 PM
    Author     : bremme
*/
body
{
    background-image: url(img/grey.jpg);
}
#map svg {
    position: absolute;
    top: 0;
    left: 0;
}

#map img {
     position: absolute;
    top: 0;
    left: 0;   
}
#but{
    float: right;
}
  #canvas {
     margin-left: 10px;
     margin-top: 10px;
     border: thin solid #aaaaaa;
     background:url(https://s3-us-west-1.amazonaws.com/riot-api/img/minimap-ig.png);
     background-size:     cover;  
    background-repeat:   no-repeat;
    background-position: center center; 
}
.item{
padding-top: 15px;
float: left;
}
.itemlast{
padding-top: 5px;
float: left;
}
.itemList{
    margin-top: -5px;
}
#championImg{
    float: left;
    width: 50px;
    padding-top: 5px;
     border-radius: 50%;
     padding-right: 5px
}
.item img{
    width : 30px;
    padding-right: 2px;
}
.itemlast img{
    width : 30px;
    padding-right: 2px;
}
.participant{
    width: 350px;
    height: 80px;
    display: block;
    background-color:rgba(2,5,7,0.7);
    padding-top:  10px;
    padding-bottom: 10px;
    margin-bottom:  10px;
}
.red{
    background-color: #AD4848;
    width: 350px;
    float: left;
    margin-right: 40px;
}
.blue{
    background-color: #56678C;
    width: 350px;
    float: left;
       
}
.participant:last-child{
    margin-bottom: 0px;
}
.summonerName{
    color: white;
}
.kda{
    color:white;
    padding-top: 20px;
    padding-right: 50px;
    float: right;
}
.matchDetails{
    border-top-left-radius: 30%;
    border-top-right-radius: 30%;
    border-top: 1px solid black;
    border-bottom: 2px solid black;
    display: block;
    width: 740px;
    background-color: #FFDB8A;
}
.matchDetails img{
    
    width: 30px;
}
.red-details{
    position: absolute;
}
.blue-details{
    position: relative;
    padding-left: 400px;
    padding-bottom: -100px;
    
}
.score{
    position: relative;
    left:48%;
}
.match{
    padding-left: 10px;
}
#logging{
    float : right;
    display : block;
    border : 1px solid black;
    width : 200px;
}
#contentChat{
/*display : block;*/
overflow-y : scroll;
overflow-x: hidden;
background-color : #051341;
/*border : 1px solid black;*/
opacity: 0.7;
width: 200px;
color : white;
height : 500px;
float: right;
}
#inputChat{
    display : block;
    border : 2px solid black;
    width: 200px;
    float : right;
}
#contentChat::-webkit-scrollbar {
    width: 1em;
}
 
#contentChat::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
#contentChat::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
.inputlogging{
    width: 200px;
    float: right;
}
#firstsec{
/*    background-color: grey;
    display: block;*/
/*    overflow-y : scroll;*/
} 
#firstsec::-webkit-scrollbar {
    width: 1em;
}
 
#firstsec::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
#firstsec::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}